/* a{
    color: chocolate;
    text-decoration: none;
}

img{
    border-style: none;
}

.category-slider--nav {
    -ms-overflow-style: none;
    align-items: center;
    display: flex;
    font-size: 16px;
    margin-bottom: 25px!important;
    margin-left: 0;
    margin-top: 30px;
    overflow: scroll;
    scrollbar-width: none;
} */